
/*body {
    padding: 10px;
    margin: 10px;
}*/

/* background start */
.overlay-show {
    width: 100%;
}

.overlay-hide {
    width: 0%;
}

.overlay { 
    height: 100%;
    position: fixed; 
    z-index: 1031; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
    text-align: center;
}

.overlay p {
	margin: auto;
    color: #fff;
    top: 45%;
    position: relative;
    font-size: 3em;
}
/* background end */

/* Abdul CSS */
@font-face {
  font-family: 'NexaSlab';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/nexaslab-bold.otf') format('opentype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Lato-Regular.eot') format('embedded-opentype'), url('../fonts/Lato-Regular.woff2') format('woff2'),url('../fonts/Lato-Regular.woff?') format('woff'),url('../fonts/Lato-Regular.ttf') format('truetype');
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
}
.navbar { border-radius:0; font-family: NexaSlab;height: 80px;}
.topheader nav.navbar-inverse a {color:#fff; font-family: NexaSlab;}
.mainText{
    font-family: NexaSlab;
}
.subText{
    color: #999999;
    font-family: NexaSlab;
}
.panel-group{
    font-family: Lato;
}
.panel-default{
    border: 0;
}
.panel-default > .panel-heading{
    background: #fff;
    border-color: #efefef;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top: none;
    border-bottom: #efefef;
}
.panel-heading.heading{
    color: #4caf50;
}
.footer{
    padding: 20px 0;
    font-family: NexaSlab;
}
#navigationbar .headerLinks{
  padding-top: 29px;
  padding-bottom: 29px;
}
.listbox{display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;}
.listtitlebox{display: -webkit-flex;
    display: flex;}
.navbar-header{float:left;}
.navbar-nav>li{float:left;}
/* Home S*/
/*K-S*/
.rowex{padding-left: 0;padding-right: 0;}
.curpon{    cursor: pointer;}
.float-right{float: right;}
.float-left{float: left;}
.mt-0{margin-top: 0px;}
.mt-05{margin-top: 5px;}
.mt-1{margin-top: 10px;}
.mt-2{margin-top: 20px;}
.mt-3{margin-top: 30px;}
.mt-4{margin-top: 40px;}
.mb-0{margin-bottom: 0px;}
.mb-05{margin-bottom: 5px;}
.mb-1{margin-bottom: 10px;}
.mb-2{margin-bottom: 20px;}
.mb-3{margin-bottom: 30px;}
.mb-4{margin-bottom: 40px;}
.pt-0{padding-top: 0px;}
.pt-05{padding-top: 5px;}
.pt-1{padding-top: 10px;}
.pt-2{padding-top: 20px;}
.pt-3{padding-top: 30px;}
.pt-4{padding-top: 40px;}
.pb-0{padding-bottom: 0px;}
.pb-05{padding-bottom: 5px;}
.pb-1{padding-bottom: 10px;}
.pb-2{padding-bottom: 20px;}
.pb-3{padding-bottom: 30px;}
.pb-4{padding-bottom: 40px;}
.space-0{height:0px;}
.space-05{height:5px;}
.space-1{height:10px;}
.space-2{height:20px;}
.space-3{height:30px;}
.space-4{height:40px;}
/*K-E*/
/* Header S*/
.homeHeader p{color:rgba(255, 255, 255, 0.76);}
.homeHeader{background-image:url('../img/bgHeader.jpg');background-size: cover;
    background-repeat: no-repeat;background-position: center center;font-family: NexaSlab;}
.homeHeader .bgColor{background-color:rgba(0, 0, 0, 0.36);min-height:660px;}
.homeHeader .bgColor::before{content: '';position: absolute;display: block; width: 100%;height: 38%;left: 0; top: 0;z-index: 0;background: linear-gradient( #1a1c1e,transparent );}
.hdLogo{padding: 20px 0px;width:256px;float:left;
    margin-right: 36px;}
.xs-hdIconAll,.xs-hdLinkAll,.xsMobileMenu{display:none;}
.hdLinks{display:block;}
.hdLogo a{color: #fff;font-size:24px;}
.hdLinks ul{padding: 30px 0;display: block;    margin: 0;}
.hdLinks li{list-style: none;display: inline-block;}
.hdLinks li a{color: #fff;font-size: 16px;padding: 8px 6px;display: block;}
.hdtitbox{padding-top:110px;text-align: center;color: #fff;}
.hdtitbox h2{font-size: 60px;}
a.hdLinkLoginNow { padding: 10px 30px;border-radius: 4px; background-color: #1c9d4a;color: #fff;display: block; width: 200px; margin: auto;margin-top: 20px;}
/* Star S*/
fieldset, label { margin: 0; padding: 0; }
.rectangleInput{
    border-radius: 0;
}
.Lato{
  font-family: Lato;
}
.NexaSlab{
  font-family: NexaSlab;
}
.groupFields{
    margin: 20px 0;
}
.registerBtn{
    width: 30%;
    height: 40px;
}
.errorMsg, .has-error .help-block {
    color: #d9534f;
}
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/*Star E*/
/* Header E*/
/* Section Box1 S*/
.homeSectionBox1 p{color:rgba(0, 0, 0, 0.55);}
.homeSectionBox1{background-image:url('../img/laptop.jpg');background-size: cover;
    background-repeat: no-repeat;background-position: center center;font-family: NexaSlab;}
.homeSectionBox1 .bgColor{background-color:rgba(255, 255, 255, 0.85);min-height:300px;padding:20px 0 40px 0;color:#000;}
.homeSectionBox1 h2{font-size:50px;}
.aeneInfo{width:48%;}
.aeneInfo1{margin-right:4%;}
.aenebox{padding:20px;}
.aenebox img{margin-bottom:12px;width:50px;}
.aenebox p{margin-top:12px;}
.aenebox h3{margin:0;}
.aenebox1{background:#fff;padding:40px 20px;}
.aenebox2{background:#eff3f6;margin-top:20px;}

/* Section Box1 E*/
/* Section Box2 S*/
.homeSectionBox2 p{color:rgba(0, 0, 0, 0.55);}
.homeSectionBox2{background:#fff;font-family: NexaSlab;}
.homeSectionBox2 h2{font-size:50px;} 
.custsec{padding:0 10px}
.custsec .subcustsec{background:#f0f4f7;}
.teamimgm{float:left;}
.teamimgm1{padding-top: 15px; padding-left: 6px; line-height: 21px;}
.teamimg{display:block;}
/* Section Box2 E*/
/* Footer S*/
.homeFooter{background:#141414;color:rgba(255, 255, 255, 0.65);font-family: NexaSlab;}
.homeFooter p{font-size: 14px; line-height: 26px;color:rgba(255, 255, 255, 0.65);}
.ftLinkCol a{color:rgba(255, 255, 255, 0.65);display:block;}
.homeFooter h3 {color:#fff;}
.homeFooter h3 a{color:#1a9e4a;}
.homeFooter i{background-color:#fff;color:#000;padding:3px;font-size:20px;margin-right: 17px;border-radius: 2px;}
.homeFooter .ictw{color:#fff;background-color:rgba(0, 0, 0, 0);}
/* Footer E*/
/* Home E*/
/*QS S*/
.hdqstbox{background:#fff;    margin-top: 40px;}
.hdqstbox1 img{border:6px solid #fff;}
.hdqstbox2 h5{color:rgba(0, 0, 0, 0.62);margin-top:40px;}
.hdqstbox2 p{color:rgba(0, 0, 0, 0.62);margin:120px 20%;}
/*QS E*/
.smpl-step > .smpl-step-step {
        padding: 0;
        position: relative;
    }

    .smpl-step > .smpl-step-step > .smpl-step-icon {
        position: absolute;
        width: 35px;
        height: 35px;
        display: block;
        background: #1B9E49;
        top: 45px;
        left: 50%;
        margin-top: -35px;
        margin-left: -15px;
        border-radius: 50%;
    }
    .smpl-step > .smpl-step-step > .smpl-step-icon > .smpl-step-icon-num {
        font-size: 16px;
        padding-left: 12px;
        color: #ffffff;
        display: inline-block;
        padding-top: 6px;
    }

    .smpl-step > .smpl-step-step > .progress {
        position: relative;
        border-radius: 0px;
        height: 4px;
        box-shadow: none;
        margin-top: 26px;
        background: #CFCFCF;
    }

   .smpl-step > .smpl-step-step > .progress > .progress-bar {
       background: #CFCFCF;
   }
   .smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
       background: #1B9E49;
   }
   .smpl-step > .smpl-step-step.active > .progress > .progress-bar {
       width: 0px;
       box-shadow: none;
       background: #1B9E49;
   }

    .smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
        width: 100%;
    }

    .smpl-step > .smpl-step-step.active > .progress > .progress-bar {
        width: 50%;
    }

    /*.smpl-step > .smpl-step-step:first-child.active > .progress > .progress-bar {
        width: 0%;
    }*/

    /*.smpl-step > .smpl-step-step:last-child.active > .progress > .progress-bar {
        width: 100%;
    }*/

    .smpl-step > .smpl-step-step.disabled > .smpl-step-icon {
        background-color: #CFCFCF;
    }

    .smpl-step > .smpl-step-step.disabled > .smpl-step-icon:after {
        opacity: 0;
    }

    /*.smpl-step > .smpl-step-step:first-child > .progress {
        left: 50%;
        width: 50%;
    }*/

    /*.smpl-step > .smpl-step-step:last-child > .progress {
        width: 50%;
    }*/

    .smpl-step > .smpl-step-step.disabled a.smpl-step-icon {
        pointer-events: none;
    }

    .steps-num{
        font-size: 12px;
        color: #CFCFCF;
    }
.topProBarQuiz{    width: 45%;
    margin: auto;}
    .quizMain{
      width: 75%;
      margin: auto;
    }
	.quizElem{
        border: 2px solid #BCBCBC;
        padding: 10px;
        margin: 20px;
        width: 28%;
        display: inline-block;
    }

    .quizName{
        width: 70%;
        font-size: 24px;
        font-family: NexaSlab;
        height: 80px;
        color: #2E2E2E;
        float: left;
    }

    .quizRightArea{
      width: 30%;
      float: left;
    }

    .infoIcon{
      font-size: 16px;
      cursor: pointer;
    }
    .quizIcon{
      font-size: 60px;
      color: #EAEAEA;
    }
    .selfPopover{
      background: #191717;
      color: #ffffff;
      border-radius: 0px;
      border: none;
      padding: 20px;
    }
    .popover.bottom > .arrow:after{
      border-bottom-color: #191717;
    }
    .quizBtn{
      width: 14%;
      height: 40px;
      border: none;
      padding: 10px;
    }
	/*Quiz Step2 S*/
	.Choosetem{    font-family: NexaSlab;font-size:24px;}
.msgintop{position:absolute;top:0;color: #fff; padding: 7px 10px 0 35px;}
.msginbottom{position:absolute;bottom: 60px; text-align: center;width: 93%;}
a.btnquizimg{background:#ffa200;    padding: 10px 40px; font-size: 12px; color: #fff;
    border-radius: 4px; display: inline;
    cursor: pointer;}
	.colorBoxchd select{padding-left:40px;}
	.colorBoxchd span{ width: 16px; height: 16px;  float: left;  border-radius: 50%;
    position: absolute;  top: 9px;  left: 16px;    border: 1px solid rgba(8, 8, 8, 0.10);}
	.filest2Boxs{border:1px dashed rgba(0, 0, 0, 0.38); margin-bottom: 20px;  padding: 10px 5px;}
	.filest2Boxs span.st2{ padding: 3px 7px; border:1px solid rgba(0, 0, 0, 0.22);
    display: block;  text-align: center; margin-top: 7PX; border-radius: 19px;}
	.filequizst2{position: absolute; z-index: 1; background: rgb(62, 153, 51);
    height: 61px;  width: 100%;  opacity: 0; cursor: pointer;}
	/*Quiz Step2 E*/
	
/*Quiz step3 S*/
.quizMainStepbtn3 .quizBtn{width:auto;padding:12px 51px;height:auto;}
.deleteIcon{
  color: #CFCFCF;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 5px;
}
/*Quiz step3 E*/

  .finishComment{
    border-radius: 0;
    border: 2px solid #CFCFCF;
    resize: none;
  }
	a.linkaddques{    padding: 4px 10px; border: 1px solid rgba(0, 0, 0, 0.59);
    color: rgb(0, 0, 0); border-radius: 28px;display: inline-block;cursor: pointer;}

@media screen and (min-width: 320px) and (max-width:767px) {
/* Header S*/

.xs-pb-2{padding-bottom:20px;}
.xs-mb-0{margin-bottom:0;}
.xs-mt-0{margin-top:0;}
.xs-mb-4{margin-bottom:40px;}
.xs-hdIconAll{display:block;width: 40px; float: right; height: 40px; font-size: 29px;
    color: #fff;margin-top: 31px;  cursor: pointer;margin-right:10px;}
.xs-hdLinkAll{display:none;width: 200px; float: left;position:absolute;    top: 37px;
    right: 54px;z-index: 4;}
.xsMobileMenu{display:block;}
.xs-hdLinkAll ul{padding:0;margin:0;border-radius:2px;}
.xs-hdLinkAll li{list-style:none;background-color:#fff;
    font-size: 20px; padding: 8px 10px;}
.xs-hdLinkAll li a{color:#000;}
.hdLinks{display:none;}
.xs-rowex{padding-left:15px;padding-right:15px;}
.hdLinksMenu ul{padding:0;}
.hdLinks li a{    font-size: 13px; padding: 5px 1px;}
.hdLinksLR{position:absolute;top:0;right:0;}
.homeHeader .bgColor{min-height:600px;}
.hdtitbox{padding-top:60px;}
.hdtitbox h2{font-size:39px;}
/*Seaction Box1*/
.homeSectionBox1 h2{font-size:30px;}
.aeneInfo{width:100%;}
.aeneInfo1{margin-right:0%;}
/*hq S*/
.hdqstbox2 p{color:rgba(0, 0, 0, 0.62);margin:20px 0%;}
/*Quiz step2*/
.topProBarQuiz{width:57%;}
.steps-num{float: left;
    width: 100%;}
.Choosetem{text-align:center;    width: 100%;}
.quizMainStep1{    width: 100%;   margin-top: 20px;  display: inline-block;}
.quizElem{    margin: 0;
    width: 47%; margin-bottom: 10px;
    margin-left: 3%;}
	/*Quiz step3*/
	.quizMainStepbtn3 div{text-align:center;margin-bottom:20px;}
	.navbar-toggle{    margin-top: 26px;}
}
@media screen and (min-width: 768px) and (max-width:991px) {
/* Header S*/
.hdLogo{margin-right:0px; padding: 23px 0px; width: 189px;}
.hdLogo img{width:100%;float:left;}
.hdLinksMenu{width:449px;}
.hdLinksLR{    width: 112px;}
.hdLinks li a{    font-size: 13px; padding: 5px 1px;}
.homeHeader .bgColor{height:600px;}
.hdtitbox h2{font-size:39px;}
/*hq S*/
.hdqstbox2 p{color:rgba(0, 0, 0, 0.62);margin:40px 0%;}
/*Quiz Step2*/
.quizMain{width:100%;}
.quizElem{margin: 20px 19px;}
}
@media screen and (min-width: 992px)  and (max-width:1199px) {
/* Header S*/
.hdLogo{margin-right:50px;}
.hdLinksLR{margin-left:17px;}
.hdLinks li a{padding:10px 2px;font-size: 14px;}
.homeHeader .bgColor{height:634px;}
.hdtitbox h2{font-size:50px;}
/*hq S*/
.hdqstbox2 p{color:rgba(0, 0, 0, 0.62);margin:60px 20%;}
/*Quiz Step2*/
.quizMain{width:100%;}
}
@media (min-width: 1200px){
/* Header S*/
}