<header class="topheader">
  <nav class="navbar navbar-default navbar-inverse " role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">LeadDirectr</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navigationbar">
            <ul class="nav navbar-nav">
                <li><a href="#/login">Login</a></li>
                <li><a>|</a></li>
                <li><a href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
            </ul>
        </div>
    </div>
  </nav>
</header>
<div class="row-fluid">
	<div class="col-sm-2 rightPanel">
		<button type="button" class="btn btn-success btn-lg leadBtn">Start Collecting Leads</button>
		<hr class="lineDashboard">
		<div class="btnDashboard"><i class="fa fa-tachometer iconDashboard"></i><a href="#" class="btnDashboardLink">Dashboard</a></div>
		<hr class="lineDashboard">
		<div class="btnDashboard"><i class="fa fa-tachometer iconDashboard"></i><a href="#"  class="btnDashboardLink">Create Quiz</a></div>
		<hr class="lineDashboard">
		<div class="btnDashboard"><i class="fa fa-tachometer iconDashboard"></i><a href="#"  class="btnDashboardLink">Create Quiz</a></div>
		<hr class="lineDashboard">
		<div class="btnDashboard"><i class="fa fa-cogs iconDashboard"></i><a href="#"  class="btnDashboardLink">User Setting</a></div>
		<hr class="lineDashboard">
	</div>
	<div class="col-sm-10">
		<div class="dashboardRight">
			<h3 class="dashboardHead">Dashboard<small class="dashboardSubhead">Here you can see all of quizzes</small></h3>
			<hr class="dashboardRightLine">
			<div class="dashboardSearch">
				<div class="searchText">Filter and Search</div>
				<div class="searchFileds">
					<div class="searchField">
						<div class="searchFiledText">Search Type</div>
						<select class="searchFiledDropdown" ng-model="statusType" ng-options="x.status for x in dashboardData">
							<option value=""> Select Status</option>
						</select>
					</div>
					<div class="searchField">
						<div class="searchFiledText">Type</div>
						<select class="searchFiledDropdown" ng-model="quizType" ng-options="x.quizName for x in dashboardData">
							<option value=""> Select Type</option>
						</select>
					</div>
					<div class="searchField">
						<input type="type" name="search" class="searchInputFiled" ng-model="searchText" placeholder="Search">
						<button type="button" class="searchBtn" ng-click="search()"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</div>
			<hr class="dashboardRightLine">
			<div class="dashboardGrid">
				<table>
			      <tr>
			        <th ng-click="sortData('date')">Name <div ng-class="getSortClass('date')"></div></th>
			        <th ng-click="sortData('quizName')">Quiz name and Link <div ng-class="getSortClass('quizName')"></div></th>
			        <th ng-click="sortData('views')">Views <div ng-class="getSortClass('views')"></div></th>
			        <th ng-click="sortData('leads')">Leads <div ng-class="getSortClass('leads')"></div></th>
			        <th ng-click="sortData('shares')">shares <div ng-class="getSortClass('shares')"></div></th>
			        <th ng-click="sortData('CTAClicks')">CTAClicks <div ng-class="getSortClass('CTAClicks')"></div></th>
			        <th ng-click="sortData('conversionRate')">conversionRate <div ng-class="getSortClass('conversionRate')"></div></th>
			        <th ng-click="sortData('status')">status <div ng-class="getSortClass('status')"></div></th>
			      </tr>
			      <tr ng-repeat="data in dashboardData | orderBy:sortColumn:reverseSort">
			        <td>{{data.date | date: 'dd/MM/yyyy'}}</td>
			        <td>{{data.quizName}}<br><a href="{{data.quizLink}}">{{data.quizLink}}</a></td>
			        <td>{{data.views}}</td>
			        <td>{{data.leads}}</td>
			        <td>{{data.shares}}</td>
			        <td>{{data.CTAClicks}}</td>
			        <td>{{data.conversionRate}}</td>
			        <td>{{data.status}}</td>
			      </tr>
			    </table>
			</div>
		</div>
		<div class="col-sm-12 text-center footer">
          <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
        </div>
	</div>
</div>