  <header class="topheader">
          <nav class="navbar navbar-default navbar-inverse " role="navigation">
            <div class="container" id="navfluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home"><img src="img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navigationbar">
                    <ul class="nav navbar-nav">
                        <li><a class="headerLinks" href="#/login">Login</a></li>
                        <li><a class="headerLinks">|</a></li>
                        <li><a class="headerLinks" href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
                    </ul>
                </div>
            </div>
          </nav>
        </header>
		
<div class="container">
	<div class="row text-center">
		<h1 class="mainText">Frequently Asked Questions</h1>
		<h5 class="subText">You must agree to these terms and conditions</h5>
    <hr>
	</div>
  <div class="row">
    <div class="panel-group" id="accordion">
    <div class="panel" ng-class="item.id == 1 ? 'panel-default' : ''" ng-repeat="item in accordianData">
      <div class="panel-heading">
        <h4 class="panel-title">
		
          <a data-toggle="collapse" data-parent="#accordion" ng-attr-href="{{'#collapse'+item.id}}" ng-click="colorChanger()">
		  <div class="listbox">
		  <span class="listtitlebox"><span ng-attr-class="{{'fa '+item.imageIcon}}"></span>&nbsp;&nbsp;<span>{{item.heading}}</span></span>
		  <span class="fa fa-plus pull-right"></span></div></a>
        </h4>
      </div>
      <div ng-attr-id="{{'collapse'+item.id}}" class="panel-collapse collapse" ng-class="item.id == 1 ? 'in' : ''">
        <div class="panel-body">{{item.content}}</div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 text-center footer">
          <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
        </div>