<header class="topheader">
  <nav class="navbar navbar-default navbar-inverse " role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div class="hdLogo">
              <a href="#/home"><img src="img/logo.png"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navigationbar">
                    <ul class="nav navbar-nav">
                        <li><a class="headerLinks" href="#/login">Login</a></li>
                        <li><a class="headerLinks">|</a></li>
                        <li><a class="headerLinks" href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
                    </ul>
                </div>
        
    </div>
  </nav>
</header>
<div class="container">
  <div class="col-xs-4 col-xs-offset-4">
    <h3 class="mainText text-center">Thank You for Creating</h3>
  </div>
  <div class="form-group">
    <input type="text" class="form-control mt-2 mb-2" ng-modal="linkText">
    <button type="button" ng-click-copy="Hello World">Copy</button>
  </div>
</div>
<div class="container">
  <div class="text-center col-md-12">
    
  </div>
  </div>
</div>
<div class="col-sm-12 text-center footer">
  <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
</d