<header class="col-xs-12 rowex homeHeader">
    <div class="col-xs-12 rowex bgColor">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 rowex xs-rowex">
                    <div class="col-xs-12 rowex hdbox">
                        <div class="hdLogo">
                            <a href="#/home"><img src="img/logo.png"></a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 rowex text-center hdLinks hdLinksMenu">
                            <ul>
                                <li class="menus memu1"><a href="#/">Product</a></li>
                                <li class="menus memu1"><a>|</a></li>
                                <li class="menus memu1"><a href="#/">Get a Demo</a></li>
                                <li class="menus memu1"><a>|</a></li>
                                <li class="menus memu1"><a href="#/">Case Studie</a></li>
                                <li class="menus memu1"><a>|</a></li>
                                <li class="menus memu1"><a href="#/">Templates</a></li>
                                <li class="menus memu1"><a>|</a></li>
                                <li class="menus memu1"><a href="#/">Pricing</a></li>
                                <li class="menus memu1"><a>|</a></li>
                                <li class="menus memu1"><a href="#/">Blog</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-5 col-sm-2 rowex text-right hdLinks hdLinksLR">
                            <ul>
                                <li class="menus memu1"><a href="#/">Login</a></li>
                                <li class="menus memu1"><a>|</a></li>
                                <li class="menus memu1"><a href="#/">Register</a></li>
                            </ul>
                        </div>
						<div class="xs-hdIconAll" ng-click="mobileMenuDis(mobileMenuDisVar)" >
						<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
						<div class="xs-hdLinkAll {{mobileMenuDisVar}}">
						<ul>
								 <li class="menus memu1"><a href="#/">Login</a></li>
                                <li class="menus memu1"><a href="#/">Register</a></li>
                                <li class="menus memu1"><a href="#/">Product</a></li>
                                <li class="menus memu1"><a href="#/">Get a Demo</a></li>
                                <li class="menus memu1"><a href="#/">Case Studie</a></li>
                                <li class="menus memu1"><a href="#/">Templates</a></li>
                                <li class="menus memu1"><a href="#/">Pricing</a></li>
                                <li class="menus memu1"><a href="#/">Blog</a></li>
                            </ul>
						</div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 rowex hdtitbox">
                        <h2>Lorem Ipsum Proin</h2>
                        <h2>Gravida Lorem Quis Bibendum</h2>
                        <p>The truly multipurpose WordPress theme with advanced niche skins, full WooCommerce integration, and unlimited number of usages.The truly multipurpose WordPress theme with advanced niche skins, full WooCommerce integration, and unlimited number of usages.</p>
                        <a href="" class="hdLinkLoginNow mt-2">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="col-xs-12 rowex homeSectionBox homeSectionBox1 text-center">
    <div class="col-xs-12 rowex bgColor">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mt-1 mb-1 rowex xs-rowex">
                    <h2>LeadDirrectr</h2>
                    <h4>Lorem Generation Web Application</h4>
                    <div class="col-xs-12 mt-1 mb-1  rowex">
                        <div class="col-xs-12 col-sm-6 mt-2 mb-2 rowex aeneInfo aeneInfo1 ">
                            <div class="col-xs-6 rowex aenebox aenebox1">
                                <img src="img/i1.jpg">
                                <h3>Aenean</h3>
                                <h3>Sollicitudin</h3>
                                <p>Be the first to know about different promos at TemplateMonster website.</p>
                            </div>
                            <div class="col-xs-6 rowex aenebox aenebox2">
                                <img src="img/i2.jpg">
                                <h3>Aenean</h3>
                                <h3>Sollicitudin</h3>
                                <p>Be the first to know about different promos at TemplateMonster website.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 mt-2 mb-2  rowex aeneInfo aeneInfo2">
                            <div class="col-xs-6 rowex aenebox aenebox1">
                                <img src="img/i3.jpg">
                                <h3>Aenean</h3>
                                <h3>Sollicitudin</h3>
                                <p>Be the first to know about different promos at TemplateMonster website.</p>
                            </div>
                            <div class="col-xs-6 rowex aenebox aenebox2">
                                <img src="img/i4.jpg">
                                <h3>Aenean</h3>
                                <h3>Sollicitudin</h3>
                                <p>Be the first to know about different promos at TemplateMonster website.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="col-xs-12 rowex homeSectionBox homeSectionBox2 text-center">
    <div class="col-xs-12 rowex bgColor">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mt-1 mb-1 rowex xs-rowex">
                    <h2>How LeadDirectr Work?</h2>
                    <h4>Lorem Generation Web Application</h4>
                    <div class="col-xs-12 mt-1 mb-1  rowex">
                        <img class="img-responsive" src="img/hpsec2.png">
                    </div>
                    <div class="col-xs-12 mt-1 mb-4 pb-4  rowex">
                        <div class="col-xs-12 col-sm-3 ">
                            <h3>Start Page </h3>
                            <p>Be the first to know about different promos at TemplateMonster website.</p>
                        </div>
                        <div class="col-xs-12 col-sm-3 ">
                            <h3> The Questions</h3>
                            <p>Be the first to know about different promos at TemplateMonster website.</p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h3>Lead Form</h3>
                            <p>Be the first to know about different promos at TemplateMonster website.</p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h3>Final Results </h3>
                            <p>Be the first to know about different promos at TemplateMonster website.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="col-xs-12 rowex homeSectionBox homeSectionBox2 text-center">
    <div class="col-xs-12 rowex bgColor">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mt-1 mb-1 rowex xs-rowex">
                    <h2>Why Our Customers Love</h2>
                    <h4>using LeadDirectr</h4>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 mt-1 mb-1 text-left  ">
                        <div class="col-xs-12 col-sm-6 custsec custsec1 mb-2">
                            <div class="col-xs-12 subcustsec pt-1">
                                <p>Be the first to know about different promos at TemplateMonster website. Be the first to know about different promos at TemplateMonster website.</p>
                                <img src="img/imgline.png">
                                <div>
                                    <img class="teamimgm" src="img/teamimg.jpg">
                                    <div class="teamimgm teamimgm1">
                                        <span class="teamimg">John Doe</span>
                                        <span class="teamimg">
                                            <img src="img/starimg.png">
										<!-- <fieldset class="rating">
											<input type="checkbox" id="1star5" name="rating" value="5" /><label class = "full" for="1star5" title="Awesome - 5 stars"></label>
											<input type="checkbox" id="1star4half" name="rating" value="4 and a half" /><label class="half" for="1star4half" title="Pretty good - 4.5 stars"></label>
											<input type="checkbox" id="1star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
											<input type="checkbox" id="1star3half" name="rating" value="3 and a half" /><label class="half" for="1star3half" title="Meh - 3.5 stars"></label>
											<input type="checkbox" id="1star3" name="rating" value="3" /><label class = "full" for="1star3" title="Meh - 3 stars"></label>
											<input type="checkbox" id="1star2half" name="rating" value="2 and a half" /><label class="half" for="1star2half" title="Kinda bad - 2.5 stars"></label>
											<input type="checkbox" id="1star2" checked="true" name="rating" value="2" /><label class = "full" for="1star2" title="Kinda bad - 2 stars"></label>
											<input type="checkbox" id="1star1half" name="rating" value="1 and a half" /><label class="half" for="1star1half" title="Meh - 1.5 stars"></label>
											<input type="checkbox" id="1star1" name="rating" value="1" /><label class = "full" for="1star1" title="big time - 1 star"></label>
											<input type="checkbox" id="1starhalf" name="rating" value="half" /><label class="half" for="1starhalf" title="big time - 0.5 stars"></label>
										</fieldset> -->
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 custsec custsec1 mb-2">
                            <div class="col-xs-12 subcustsec pt-1">
                                <p>Be the first to know about different promos at TemplateMonster website. Be the first to know about different promos at TemplateMonster website.</p>
                                <img src="img/imgline.png">
                                <div>
                                    <img class="teamimgm " src="img/teamimg.jpg">
                                    <div class="teamimgm teamimgm1">
                                        <span class="teamimg">John Doe</span>
                                        <span class="teamimg">
                                            <img src="img/starimg.png">
										<!-- <fieldset class="rating">
											<input type="checkbox" id="2star5" name="rating" value="5" /><label class = "full" for="2star5" title="Awesome - 5 stars"></label>
											<input type="checkbox" id="2star4half" checked="true" name="rating" value="4 and a half" /><label class="half" for="2star4half" title="Pretty good - 4.5 stars"></label>
											<input type="checkbox" id="2star4" name="rating" value="4" /><label class = "full" for="2star4" title="Pretty good - 4 stars"></label>
											<input type="checkbox" id="2star3half" name="rating" value="3 and a half" /><label class="half" for="2star3half" title="Meh - 3.5 stars"></label>
											<input type="checkbox" id="2star3" name="rating" value="3" /><label class = "full" for="2star3" title="Meh - 3 stars"></label>
											<input type="checkbox" id="2star2half" name="rating" value="2 and a half" /><label class="half" for="2star2half" title="Kinda bad - 2.5 stars"></label>
											<input type="checkbox" id="2star2" name="rating" value="2" /><label class = "full" for="2star2" title="Kinda bad - 2 stars"></label>
											<input type="checkbox" id="2star1half" name="rating" value="1 and a half" /><label class="half" for="2star1half" title="Meh - 1.5 stars"></label>
											<input type="checkbox" id="2star1" name="rating" value="1" /><label class = "full" for="2star1" title="big time - 1 star"></label>
											<input type="checkbox" id="2starhalf" name="rating" value="half" /><label class="half" for="2starhalf" title="big time - 0.5 stars"></label>
										</fieldset> -->
										</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 custsec custsec2  mb-2">
                            <div class="col-xs-12 subcustsec pt-1">
                                <p>Be the first to know about different promos at TemplateMonster website. Be the first to know about different promos at TemplateMonster website.</p>
                                <img src="img/imgline.png">
                                <div>
                                    <img class="teamimgm" src="img/teamimg.jpg">
                                    <div class="teamimgm teamimgm1">
                                        <span class="teamimg">John Doe</span>
                                        <span class="teamimg">
                                            <img src="img/starimg.png">
										<!-- <fieldset class="rating">
											<input type="checkbox" id="3star5" name="rating" value="5" /><label class = "full" for="3star5" title="Awesome - 5 stars"></label>
											<input type="checkbox" id="3star4half" name="rating" value="4 and a half" /><label class="half" for="3star4half" title="Pretty good - 4.5 stars"></label>
											<input type="checkbox" id="3star4" name="rating" value="4" /><label class = "full" for="3star4" title="Pretty good - 4 stars"></label>
											<input type="checkbox" id="3star3half" checked="true" name="rating" value="3 and a half" /><label class="half" for="3star3half" title="Meh - 3.5 stars"></label>
											<input type="checkbox" id="3star3" name="rating" value="3" /><label class = "full" for="3star3" title="Meh - 3 stars"></label>
											<input type="checkbox" id="3star2half" name="rating" value="2 and a half" /><label class="half" for="3star2half" title="Kinda bad - 2.5 stars"></label>
											<input type="checkbox" id="3star2" name="rating" value="2" /><label class = "full" for="3star2" title="Kinda bad - 2 stars"></label>
											<input type="checkbox" id="3star1half" name="rating" value="1 and a half" /><label class="half" for="3star1half" title="Meh - 1.5 stars"></label>
											<input type="checkbox" id="3star1" name="rating" value="1" /><label class = "full" for="3star1" title="big time - 1 star"></label>
											<input type="checkbox" id="3starhalf" name="rating" value="half" /><label class="half" for="3starhalf" title="big time - 0.5 stars"></label>
										</fieldset> -->
										</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 custsec custsec2  mb-2">
                            <div class="col-xs-12 subcustsec pt-1">
                                <p>Be the first to know about different promos at TemplateMonster website. Be the first to know about different promos at TemplateMonster website.</p>
                                <img src="img/imgline.png">
                                <div>
                                    <img class="teamimgm" src="img/teamimg.jpg">
                                    <div class="teamimgm teamimgm1">
                                        <span class="teamimg">John Doe</span>
                                        <span class="teamimg">
                                            <img src="img/starimg.png">
										<!-- <fieldset class="rating">
											<input type="checkbox" id="4star5" name="rating" value="5" /><label class = "full" for="4star5" title="Awesome - 5 stars"></label>
											<input type="checkbox" id="4star4half" name="rating" value="4 and a half" /><label class="half" for="4star4half" title="Pretty good - 4.5 stars"></label>
											<input type="checkbox" id="4star4" checked="true" name="rating" value="4" /><label class = "full" for="4star4" title="Pretty good - 4 stars"></label>
											<input type="checkbox" id="4star3half" name="rating" value="3 and a half" /><label class="half" for="4star3half" title="Meh - 3.5 stars"></label>
											<input type="checkbox" id="4star3" name="rating" value="3" /><label class = "full" for="4star3" title="Meh - 3 stars"></label>
											<input type="checkbox" id="4star2half" name="rating" value="2 and a half" /><label class="half" for="4star2half" title="Kinda bad - 2.5 stars"></label>
											<input type="checkbox" id="4star2" name="rating" value="2" /><label class = "full" for="4star2" title="Kinda bad - 2 stars"></label>
											<input type="checkbox" id="4star1half" name="rating" value="1 and a half" /><label class="half" for="4star1half" title="Meh - 1.5 stars"></label>
											<input type="checkbox" id="4star1" name="rating" value="1" /><label class = "full" for="4star1" title="big time - 1 star"></label>
											<input type="checkbox" id="4starhalf" name="rating" value="half" /><label class="half" for="4starhalf" title="0.5 stars"></label>
										</fieldset> -->
										</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="col-xs-12 rowex  homeFooter text-left ">
    <div class="col-xs-12 rowex bgColor pt-4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mt-4 mb-4 pt-4 pb-4 rowex xs-rowex">
                    <div class="col-xs-12 col-sm-3 xs-mb-4"><img class="img-responsive" src="img/footerlogo.png"></div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 ">
                        <h3>About <a href="#/" class="logocolo">LeadDirrectr</a><h3>
				<p>Be the first to know about different promos at TemplateMonster website. Be the first to know about different promos at TemplateMonster website.</p>
				</div>
				<div class="col-xs-12 col-sm-2 ftLinkCol pt-4 xs-mt-0 xs-mb-4 mt-2">
				<a href="#/home">Home</a>
				<a href="#/">AboutUs</a>
				<a href="#/">Events</a>
				<a href="#/">GetChargedUp</a>
				<a href="#/">ContactUs</a>
				<a href="#/">Join The Discussion</a>
				</div>
				<div class="col-xs-12 col-sm-3  ">
				<h3 class="mb-4">Follow us on <a class="logocolo">Social</a></h3>
				<span ><i class="fa fa-facebook icfa" aria-hidden="true"></i></span>
				<span><i class="fa fa-linkedin icli" aria-hidden="true"></i></span>
				<span><i class="fa fa-twitter ictw" aria-hidden="true"></i></span>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-12 text-center footer">
          <p>Copyright &copy; 2017 <a href="#/home" style="color:rgba(255, 255, 255, 0.65);">LeadDirrectr.</a> All Right Reserved</p>
        </div>
		</div>
		</div>
	</div>
</footer>