  <header class="topheader">
          <nav class="navbar navbar-default navbar-inverse " role="navigation">
            <div class="container" id="navfluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home"><img src="img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navigationbar">
                    <ul class="nav navbar-nav">
                        <li><a class="headerLinks" href="#/login">Login</a></li>
                        <li><a class="headerLinks">|</a></li>
                        <li><a class="headerLinks" href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
                    </ul>
                </div>
            </div>
          </nav>
        </header>
<div>
<h1>MAIN Template</h1>
<h2>{{fillerText}}</h2>
<p>{{fillerTextMore}}</p>
<ul>
	<li><a href="#/path1">path1</a></li>
	<li><a href="#/path2">path2</a></li>
</ul>
</div>
<div class="col-xs-12 col-sm-12 text-center footer">
          <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
        </div>