<header class="topheader">
  <nav class="navbar navbar-default navbar-inverse " role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div class="hdLogo">
              <a href="#/home"><img src="img/logo.png"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navigationbar">
                    <ul class="nav navbar-nav">
                        <li><a class="headerLinks" href="#/login">Login</a></li>
                        <li><a class="headerLinks">|</a></li>
                        <li><a class="headerLinks" href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
                    </ul>
                </div>
        
    </div>
  </nav>
</header>
<div class="container">
  <div class="col-xs-4 col-xs-offset-4">
    <h3 class="mainText text-center">Question and Answers</h3>
  </div>
  <div class="topProBarQuiz Lato" style="font-weight: bold;">
    <div class="col-xs-10 col-xs-offset-1 smpl-step">
      <div class="col-xs-3 smpl-step-step complete">
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">1</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step complete">          
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">2</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step active">          
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">3</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step disabled">           
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">4</span></a>
      </div>
    </div>
    <div class="col-xs-12 text-center steps-num">Step 3 of 4</div>	
  </div>
  <div class="quizMain quizMainStep3">

	<div class="col-xs-12 col-sm-8 col-sm-offset-2 pb-2">
	<div class="form-group">
    <input type="text" class="form-control mt-1  mb-2" id="Title" placeholder="Question Text">
    <div class="pt05 NexaSlab">Answer Type</div>
    <select class="form-control mb-2"  placeholder="Select Font" id="sel1" ng-model="formFN.fontChangedValue" ng-options="option.FontName as option.FontName for option in chooseFont"></select>
    <div ng-repeat='item in items' class="col-xs-12 rowex">
      <input type="text" ng-model='item.option' id='item-{{$index}}' class='form-control mb-2 float-left'/>
      <a ng-click='del($index)' class="float-left deleteIcon"><i class="fa fa-trash inputDeletest3"></i></a>
    </div>
    <div class="col-xs-12 text-center">
		  <a class="linkaddques"  ng-click='add(newitem)'><i class="fa fa-plus" aria-hidden="true"></i> Add Option</a>
		</div>
	  </div>
	</div>
	
	</div>
  </div>
  
<div class="container">
<div class="col-xs-12 col-sm-8 col-sm-offset-2  quizMainStepbtn3" >
  <div class="text-right col-xs-12 col-sm-6">
    <button type="button" class="btn btn-success Lato quizBtn">Add Question</button>
  </div>
  <div class="text-left col-xs-12 col-sm-6">
    <button type="button" class="btn btn-success Lato quizBtn" ng-click="nextStep();">Next</button>
  </div>
  </div>
  </div>
</div>
<div class="col-sm-12 text-center footer">
  <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
</div>