<header class="col-xs-12 rowex homeHeader">
    <div class="col-xs-12 rowex bgColor">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 rowex xs-rowex mb-4 pb-4">
                    <div class="col-xs-12 rowex hdbox">
                        <div class="hdLogo">
                            <a href="#/"><img src="img/logo.png"></a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 rowex text-center hdLinks hdLinksMenu">
                            <ul>
                                <li class="menus memu1"><a href="#/">Product</a></li>
                                <li class="menus memu1"><a href="#/">|</a></li>
                                <li class="menus memu1"><a href="#/">Get a Demo</a></li>
                                <li class="menus memu1"><a href="#/">|</a></li>
                                <li class="menus memu1"><a href="#/">Case Studie</a></li>
                                <li class="menus memu1"><a href="#/">|</a></li>
                                <li class="menus memu1"><a href="#/">Templates</a></li>
                                <li class="menus memu1"><a href="#/">|</a></li>
                                <li class="menus memu1"><a href="#/">Pricing</a></li>
                                <li class="menus memu1"><a href="#/">|</a></li>
                                <li class="menus memu1"><a href="#/">Blog</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-5 col-sm-2 rowex text-right hdLinks hdLinksLR">
                            <ul>
                                <li class="menus memu1"><a href="#/">Login</a></li>
                                <li class="menus memu1"><a href="#/">|</a></li>
                                <li class="menus memu1"><a href="#/">Register</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 xs-pb-2 rowex hdqstbox">
                        <div class="col-xs-12 col-sm-6 rowex hdqstbox1">
                            <img class="img-responsive" src="img/qsimg.jpg">
                        </div>
                        <div class="col-xs-12 col-sm-6 text-center  hdqstbox2">
                            <h5>Take the quiz and find out!</h5>
                            <p>The truly multipurpose WordPress theme with advanced niche skins, full WooCommerce integration, and unlimited number of usages.</p>
                            <a href="" class="hdLinkLoginNow mt-2">Login Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 text-center footer">
                    <p>Copyright &copy; 2017 <a ui-sref="home" style="color:rgba(255, 255, 255, 0.65);">LeadDirrectr.</a> All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</header>