<header class="topheader">
  <nav class="navbar navbar-default navbar-inverse " role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">LeadDirectr</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navigationbar">
            <ul class="nav navbar-nav">
                <li><a href="#/login">Login</a></li>
                <li><a>|</a></li>
                <li><a href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
            </ul>
        </div>
    </div>
  </nav>
</header>
<div class="container">
	<div class="row text-center groupFields">
		<h3 class="mainText">Create Your LeadDirectr Account</h3>
	</div>
  <div class="col-md-6 col-md-offset-3">
    <form name="registerForm" ng-submit="submitForm(registerForm.$valid)" novalidate>
      <p class="col-md-12 errorMsg">{{errorMsg}}</p>
      <div class="col-md-12 groupFields">
        <div class="fieldRow">
          <div class="form-group col-md-6">
            <input type="text" ng-model="firstName" name="firstName" class="form-control rectangleInput Lato" id="firstName" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <input type="text" ng-model="lastName" name="lastName" class="form-control rectangleInput Lato" id="lastName" placeholder="Last Name">
          </div>
        </div>
        <div class="fieldRow">
          <div class="form-group col-md-6" ng-class="(registerForm.emailId.$invalid && !registerForm.emailId.$pristine) ? 'has-error' : ''">
            <input type="text" ng-model="emailId" name="emailId" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control rectangleInput Lato" id="emailId" placeholder="Email Id">
          </div>
          <div class="form-group col-md-6" ng-class="(registerForm.phoneNumber.$invalid &&  !registerForm.phoneNumber.$pristine) ? 'has-error' : ''">
            <input type="text" ng-model="phoneNumber" name="phoneNumber" ng-pattern="/^[0-9]*$/" class="form-control rectangleInput Lato" id="phoneNumber" placeholder="Phone Number">
          </div>
          <p ng-show="registerForm.emailId.$invalid && !registerForm.emailId.$pristine" class="col-md-12 help-block">Enter a valid email.</p>
          <p ng-show="registerForm.phoneNumber.$invalid && !registerForm.phoneNumber.$pristine" class="col-md-12 help-block">Enter a valid Phone Number.</p>
        </div>
        <div class="fieldRow">
          <div class="form-group col-md-6">
            <input type="password" ng-model="password" name="password" class="form-control rectangleInput Lato" id="password" placeholder="Password">
          </div>
          <div class="form-group col-md-6">
            <input type="password" ng-model="confirmPassword" name="confirmPassword" class="form-control rectangleInput Lato" id="confirmPassword" placeholder="Confirm Password">
          </div>
        </div>
      </div>
      <div class="col-md-12 groupFields">
        <div class="fieldRow">
          <div class="form-group col-md-6">
            <label for="licenseKey" class="Lato">Enter License Key</label>
            <input type="text" ng-model="licenseKey" name="licenseKey" class="form-control rectangleInput Lato" id="licenseKey" placeholder="1111 2222 3333 5555">
          </div>
          <div class="form-group col-md-6">
            <label for="licenseKey" class="Lato">Purchase License Key from</label>
            <button class="btn btn-default btn-md">samcart</button>
            <button class="btn btn-default btn-md">Nzoo</button>
          </div>
        </div>
      </div>
      <div class="groupFields text-center">
        <input type="submit" ng-disabled="registerForm.$invalid" class="btn btn-success Lato registerBtn" value="Register Now">
      </div>
    </form>
  </div>
</div>
<div class="col-sm-12 text-center footer">
  <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
</div>