<header class="topheader">
  <nav class="navbar navbar-default navbar-inverse " role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div class="hdLogo">
              <a href="#/home"><img src="img/logo.png"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navigationbar">
                    <ul class="nav navbar-nav">
                        <li><a class="headerLinks" href="#/login">Login</a></li>
                        <li><a class="headerLinks">|</a></li>
                        <li><a class="headerLinks" href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
                    </ul>
                </div>
        
    </div>
  </nav>
</header>
<div class="container">
  <div class="col-xs-4 col-xs-offset-4">
    <h3 class="mainText text-center">Template</h3>
  </div>
  <div class="topProBarQuiz Lato" style="font-weight: bold;">
    <div class="col-xs-10 col-xs-offset-1 smpl-step">
      <div class="col-xs-3 smpl-step-step complete">
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">1</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step active">          
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">2</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step disabled">          
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">3</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step disabled">           
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">4</span></a>
      </div>
    </div>
    <div class="col-xs-12 text-center steps-num">Step 2 of 4</div>	
  </div>
  <div class="quizMain quizMainStep2">
	<div class="col-xs-12 pt-2 rowex pb-2">
	<div class="form-group">
	  <div class="col-xs-12 col-sm-6  text-right">
      <label for="sel1"  class="Choosetem">Choose a Template</label>
	  </div>
	  <div class="col-xs-12 col-sm-4">
      <select class="form-control" id="sel1"
	  ng-model="formTN.templateChangedValue" ng-options="option.TmpName as option.TmpName for option in chooseTemplate"
	  >     </select>
	  </div>
	</div>
	</div>
	<div class="col-xs-12 col-sm-6  pb-2">
	<div class="form-group">      
	 <input type="text" class="form-control mt-1  mb-2" id="templateTitle" placeholder="Title" ng-model="templateTitle">
	  <textarea class="form-control  mb-2" rows="5" placeholder="Description" id="templateComment" ng-model="templateComment"></textarea>
	  
	  <!-- <div class="col-xs-12 rowex filest2Box">  
	     <div class="col-xs-12 rowex filest2Boxs">
	       <div class="col-xs-6"><span class="st1">Background Image </br>Drag file here or </span></div>
	       <div class="col-xs-6"><span  class="st2"><i class="fa fa-upload" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Upload</span></div>
	     </div>
	     <input type="file" class="filequizst2" id="Title" placeholder="Title">
   </div> -->
  <div class="col-xs-12 rowex filest2Box">
    <div class="col-xs-12 rowex filest2Boxs">
      <div class="col-xs-6">
        <div class="dropzone" file-dropzone="[image/png, image/jpeg]" file="image" file-name="imageFileName" data-max-file-size="3"></div>
        <span class="st1">Background Image </br>Drag file here or </span>
      </div>
      <div class="col-xs-6">
        <span  class="st2"><i class="fa fa-upload" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Upload</span>
      </div>
    </div>
    <input type="file" class="filequizst2" id="Title" placeholder="Title" fileread="uploadme.src">
  </div>
	<input type="text" class="form-control  mb-2"  placeholder="Call to Action Text" ng-model="actionText">
	<select class="form-control mb-2"  placeholder="Select Font" id="sel1" ng-model="formFN.fontChangedValue" ng-options="option.FontName as option.FontName for option in chooseFont" ng-change="fontApply();"
	   ></select>
	  <div class="col-xs-12 rowex colorBoxchd">
	  <select class="form-control mb-2" placeholder="Select Color" ng-model="formCN.colorChangedValue" ng-options="option.ColorName as option.ColorName for option in chooseColor" ng-change="fontColor();" id="sel1">
      </select>
	  <span style="background-color:{{formCN.colorChangedValue}}"></span>
	  </div>

	  </div>
	</div>
	<div class="col-xs-12 col-sm-6  pb-2">
		<img  class="img-responsive" ng-src="{{uploadme.src}}">
		<div class="msgintop">
			<h3 ng-style="textStyles">{{templateTitle}}</h3>
			<p ng-style="textStyles">{{templateComment}}</p>
		</div>
		<div class="msginbottom">
			<a href="{{actionText}}" class="btnquizimg">Book Now!</a>
		</div>
	</div>
	</div>
  </div>
  <div class="text-center col-md-12">
    <button type="button" class="btn btn-success Lato quizBtn" ng-click="nextStep();">Next</button>
  </div>
</div>
<div class="col-sm-12 text-center footer">
  <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
</div>

    
  
