<header class="topheader">
  <nav class="navbar navbar-default navbar-inverse " role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navigationbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div class="hdLogo">
              <a href="#/home"><img src="img/logo.png"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navigationbar">
                    <ul class="nav navbar-nav">
                        <li><a class="headerLinks" href="#/login">Login</a></li>
                        <li><a class="headerLinks">|</a></li>
                        <li><a class="headerLinks" href="#/faqs"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
                    </ul>
                </div>
        
    </div>
  </nav>
</header>
<div class="container">
  <div class="col-xs-4 col-xs-offset-4">
    <h3 class="mainText text-center">Thank You Page Design</h3>
  </div>
  <div class="topProBarQuiz Lato" style="font-weight: bold;">
    <div class="col-xs-10 col-xs-offset-1 smpl-step">
      <div class="col-xs-3 smpl-step-step complete">
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">1</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step complete">          
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">2</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step complete">          
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">3</span></a>
      </div>
      <div class="col-xs-3 smpl-step-step complete">           
          <div class="progress">
              <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><span class="smpl-step-icon-num">4</span></a>
      </div>
    </div>
    <div class="col-xs-12 text-center steps-num">Step 4 of 4</div>  
  </div>
  <div class="col-xs-6 col-xs-offset-3 quizMainStep4">
    <div class="col-xs-12 pb-2">
      <div class="form-group">
        <textarea class="form-control mt-2 mb-2 finishComment" rows="15" id="finishComment"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center col-md-12">
    <button type="button" class="btn btn-success Lato quizBtn" ng-click="nextStep();">Finish</button>
  </div>
  </div>
</div>
<div class="col-sm-12 text-center footer">
  <p>Copyright &copy; 2017 <a ui-sref="home" style="color: #000000;">LeadDirrectr</a> All Right Reserved</p>
</d